<div class="row">
    <div class="col-md-6">
        <form action="" (ngSubmit)="onSubmit()"  [formGroup]="form" ngbAutofocus>
            <div class="row">
                <div class="col-md">
                    <h4>Clasificación de crías</h4>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="form-group">
                    <label for="">Cría</label>
                    <select class="form-select" aria-label="Default select example" formControlName="idpup" >
                        <option *ngFor="let option of pups" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Peso</label>
                    <input type="number" class="form-control" placeholder="Peso" formControlName="weight">
                </div>

                <div class="form-group">
                    <label for="">Color Musculo</label>
                    <select class="form-select" aria-label="Default select example" formControlName="muscle">
                        <option value="">Seleccione una opción</option>
                        <option *ngFor="let number of [1,2,3,4,5,6,7]" value="{{number}}">{{number}}</option>
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="">Marmoleo</label>
                    <select class="form-select" aria-label="Default select example" formControlName="marbling">
                        <option value="">Seleccione una opción</option>
                        <option *ngFor="let number of [1,2,3,4,5]" value="{{number}}">{{number}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" style="float: right;" (click)="results()">Calcular</button>
                </div>

                <div class="form-group mb-4">
                    <label for="">Resultado Clasificación</label>
                    <input type="text" class="form-control" placeholder="Clasificacion" value="{{classPup}}" readonly>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md">
                <button type="submit" class="btn btn-success" style="float: right;">Guardar</button>
                <a routerLink="/classification" class="btn btn-warning" role="button" aria-pressed="true">Regresar</a>
                </div>
                
            </div>
        </form>
    </div>
</div>