<form [formGroup]="form" class="form mt-3"  autocomplete="off" (submit)="submit()">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control"  autocomplete="off" formControlName="email"/>
      <label class="form-label" for="form2Example1">Usuario</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control"  autocomplete="off" formControlName="password"/>
      <label class="form-label" for="form2Example2">Contraseña</label>
    </div>
  
    <!-- Submit button -->
    <button class="btn btn-primary btn-block mb-4">Entrar</button>
  </form>