<div class="row justify-content-end mb-4">

    <div class="col-2">
        <!-- <button type="button" class="btn btn-outline-dark btn-lg">Alta crias</button> -->
        <a routerLink="/registerpups" class="btn btn-outline-dark btn-lg" role="button" aria-pressed="true">Alta crias</a>
    </div>
</div>
<div class="row">
    <div class="card-body table">
        <table class="table table-hover border ">
            <thead class="thead-light">
                <tr>
                    
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th class="center" >Costo</th>
                    <th class="center" >Peso</th>
                    <th class="center" >Proveedor</th>
                    <th class="center" >Estatus</th>
                    <th class="center" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pupData of pupsData">
                    <td>{{pupData.id}}</td>
                    <td>{{pupData.name}}</td>
                    <td>{{pupData.description}}</td>
                    <td>{{pupData.cost}}</td>
                    <td>{{pupData.weight}}</td>
                    <td>{{pupData.nameProvider}}</td>
                    <td>{{pupData.status == 1 ?'Activo':'Inactivo'}}</td>
                    <td><div class="justify-center">
                            <button class="btn btn-sm btn-success" *ngIf="pupData.status == 1" [disabled]="pupData.status == 0" (click)="edit(pupData)">
                                Editar
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-danger" *ngIf="pupData.status == 1" [disabled]="pupData.status == 0" (click)="delete(pupData,0)">
                                Desactivar
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-primary" *ngIf="pupData.status == 0" [disabled]="pupData.status == 1" (click)="delete(pupData,1)">
                                Activar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>