<div class="row justify-content-end mb-4">

    <div class="col-3">
        <a routerLink="/registersensors" class="btn btn-outline-dark btn-lg fr" role="button" aria-pressed="true">Nuevo registro</a>
    </div>
</div>
<div class="row">
    <div class="card-body table">
        <table class="table table-hover border ">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Id Cría</th>
                    <th>Nombre</th>
                    <th>Clasificacion</th>
                    <th class="center" >F. Cardiaca</th>
                    <th class="center" >P. Sanguinea</th>
                    <th class="center" >F. Respiratoria</th>
                    <th class="center" >Temperatura</th>
                    <th class="center" >Fecha</th>
                    <th class="center" >Estatus</th>
                    <th class="center" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sensorData of sensorsData">
                    <td>{{sensorData.id}}</td>
                    <td>{{sensorData.idpup}}</td>
                    <td>{{sensorData.name}}</td>
                    <td>{{sensorData.className}}</td>
                    <td>{{sensorData.heart_rate}}</td>
                    <td>{{sensorData.blood_pressure}}</td>
                    <td>{{sensorData.b_frequency}}</td>
                    <td>{{sensorData.temperature}}</td>
                    <td>{{sensorData.date_reg}}</td>
                    <td>{{sensorData.status == 1 ?'Activo':'Inactivo'}}</td>
                    <td><div class="justify-center">
                            <button class="btn btn-sm btn-success" *ngIf="sensorData.status == 1" [disabled]="sensorData.status == 0" (click)="edit(sensorData)">
                                Editar
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-danger" *ngIf="sensorData.status == 1" [disabled]="sensorData.status == 0" (click)="delete(sensorData,0)">
                                Desactivar
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-primary" *ngIf="sensorData.status == 0" [disabled]="sensorData.status == 1" (click)="delete(sensorData,1)">
                                Activar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>