<div class="row">
    <div class="col-md-6">
        <form action="" (ngSubmit)="onSubmit()"  [formGroup]="form" ngbAutofocus>
            <div class="row">
                <div class="col-md">
                    <h4>Cuarentena de crías</h4>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="form-group mb-1">
                    <label for="">Cría</label>
                    <select class="form-select" aria-label="Default select example" formControlName="idpup" (change)="SelectedRow()">
                        <option value="">Seleccione una opción</option>
                        <option *ngFor="let option of pups" value="{{option.idpup}}" selected="{{option.sel}}">{{option.name}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="form-group mb-1 col-6">
                        <label for="">Frecuencia Cardiaca</label>
                        <input type="number" class="form-control" placeholder="Frecuencia Cardiaca" value="{{heart_rate}}" readonly>
                    </div>
                    
                    <div class="form-group mb-1 col-6">
                        <label for="">Presion Sanguinea</label>
                        <input type="number" class="form-control" placeholder="Presion Sanguinea" value="{{blood_pressure}}" readonly>
                    </div>
                </div>
                
                <div class="row mb-2">
                    <div class="form-group mb-1 col-6">
                        <label for="">Frecuencia Respiratoria</label>
                        <input type="number" class="form-control" placeholder="Frecuencia Respiratoria" value="{{b_frequency}}" readonly>
                    </div>
                    
                    <div class="form-group mb-1 col-6">
                        <label for="">Temperatura</label>
                        <input type="number" class="form-control" placeholder="Temperatura" value="{{temperature}}" readonly>
                    </div>
                </div>

                <div class="form-group mb-1">
                    <label for="">Dieta</label>
                    <select class="form-select" aria-label="Default select example" formControlName="iddiet" >
                        
                        <option *ngFor="let option of diets" value="{{option.id}}" selected="{{option.sel}}">{{option.description}}</option>
                    </select>
                </div>

                <div class="form-group mb-1">
                    <label for="">Tratamiento</label>
                    <select class="form-select" aria-label="Default select example" formControlName="idtreatment" >
                        
                        <option *ngFor="let option of treatments" value="{{option.id}}" selected="{{option.sel}}">{{option.name}}</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="">Corral</label>
                    <select class="form-select" aria-label="Default select example" formControlName="idcorral" >
                        <option *ngFor="let option of corrals" value="{{option.id}}" selected="{{option.sel}}">{{option.description}}</option>
                    </select>
                </div>


                
            </div>
            <div class="row justify-content-end">
                <div class="col-md">
                <button type="submit" class="btn btn-success" style="float: right;">Guardar</button>
                <a routerLink="/quarantine" class="btn btn-warning" role="button" aria-pressed="true">Regresar</a>
                </div>
                
            </div>
        </form>
    </div>
</div>