<div class="row justify-content-end mb-4">

    <div class="col-2">
        <!-- <button type="button" class="btn btn-outline-dark btn-lg">Alta crias</button> -->
        <a routerLink="/registerquarantine" class="btn btn-outline-dark btn-lg" role="button" aria-pressed="true">Nuevo</a>
    </div>
</div>
<div class="row">
    <div class="card-body table">
        <table class="table table-hover border ">
            <thead class="thead-light">
                <tr>
                    
                    <th>ID</th>
                    <th>Id Cría</th>
                    <th>Nombre</th>
                    <th class="center" >Dieta</th>
                    <th class="center" >Tratamiento</th>
                    <th class="center" >Corral</th>
                    <th class="center" >Estatus</th>
                    <th class="center" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quarantineData of quarantinesData">
                    <td>{{quarantineData.id}}</td>
                    <td>{{quarantineData.idpup}}</td>
                    <td>{{quarantineData.pupName}}</td>
                    <td>{{quarantineData.dietName}}</td>
                    <td>{{quarantineData.treatmentName}}</td>
                    <td>{{quarantineData.corralName}}</td>
                    <td>{{quarantineData.status == 1 ?'Activo':'Inactivo'}}</td>
                    <td><div class="justify-center">
                        <button class="btn btn-sm btn-success" *ngIf="quarantineData.status == 1" [disabled]="quarantineData.status == 0" (click)="edit(quarantineData)">
                            Editar
                        </button>
                        &nbsp;
                        <button class="btn btn-sm btn-danger" *ngIf="quarantineData.status == 1" [disabled]="quarantineData.status == 0" (click)="delete(quarantineData,0)">
                            Desactivar
                        </button>
                        &nbsp;
                        <button class="btn btn-sm btn-primary" *ngIf="quarantineData.status == 0" [disabled]="quarantineData.status == 1" (click)="delete(quarantineData,1)">
                            Activar
                        </button>
                    </div>
                </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>