<div class="row justify-content-end mb-4">

    <div class="col-2">
        <!-- <button type="button" class="btn btn-outline-dark btn-lg">Alta crias</button> -->
        <a routerLink="/classpups" class="btn btn-outline-dark btn-lg" role="button" aria-pressed="true">Clasificar</a>
    </div>
</div>
<div class="row">
    <div class="card-body table">
        <table class="table table-hover border ">
            <thead class="thead-light">
                <tr>
                    
                    <th>ID</th>
                    <th>Id Cria</th>
                    <th>Nombre</th>
                    <th class="center" >Peso</th>
                    <th class="center" >Color Musculo</th>
                    <th class="center" >Marmoleo</th>
                    <th class="center" >Clasificación</th>
                    <th class="center" >Estatus</th>
                    <th class="center" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clasData of classData">
                    <td>{{clasData.id}}</td>
                    <td>{{clasData.idpup}}</td>
                    <td>{{clasData.name}}</td>
                    <td>{{clasData.weight}}</td>
                    <td>{{clasData.muscle}}</td>
                    <td>{{clasData.marbling}}</td>
                    <td>{{clasData.class}}</td>
                    <td>{{clasData.status == 1 ?'Activo':'Inactivo'}}</td>
                    <td><div class="justify-center">
                            <button class="btn btn-sm btn-success" *ngIf="clasData.status == 1" [disabled]="clasData.status == 0" (click)="edit(clasData)">
                                Editar
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-danger" *ngIf="clasData.status == 1" [disabled]="clasData.status == 0" (click)="delete(clasData,0)">
                                Desactivar
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-primary" *ngIf="clasData.status == 0" [disabled]="clasData.status == 1" (click)="delete(clasData,1)">
                                Activar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>