<!--<nav class="navbar navbar-dark bg-dark mb-4">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="/" class="nav-link">Inicio</a>
        </li>
        
    </ul>
    <div class="navbar-nav">
        <a routerLink="/login" class="nav-link">Login</a>
    </div>

</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light  mb-4">
    <a class="navbar-brand" routerLink="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/pups">Crias </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/sensors">Sensores </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/quarantine">Cuarentena</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classification">Clasificación</a>
        </li>
      </ul>
      
    </div>
    <div class="navbar-nav">
        <a routerLink="/login" class="nav-link">Login</a>
    </div>
  </nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

