<div class="row">
    <div class="col-md-6">
        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()"  ngbAutofocus>
            <div class="row">
                <div class="col-md">
                    <h4>{{title}}</h4>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="">Descripcion</label>
                    <input type="text" class="form-control" placeholder="Descripcion" formControlName="description">
                </div>
                <div class="form-group">
                    <label for="">Proveedor</label>
                    <!-- 
                    <input type="text" class="form-control" placeholder="Proveedor" formControlName="supplier"> -->
                    <select class="form-select" aria-label="Default select example" formControlName="supplier">
                        <option *ngFor="let option of providersData" value="{{option.id}}">{{option.name}}</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Peso</label>
                    <input type="number" class="form-control" placeholder="Peso" formControlName="weight">
                </div>
                <div class="form-group mb-2">
                    <label for="">Costo</label>
                    <input type="number" class="form-control" placeholder="Costo" formControlName="cost">
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md">
                <button type="submit" class="btn btn-success" style="float: right;">Guardar</button>
                <a routerLink="/pups" class="btn btn-warning" role="button" aria-pressed="true">Regresar</a>
                </div>
                
            </div>
        </form>
    </div>
</div>