<div class="row">
    <div class="col-md-6">
        <form action="" (ngSubmit)="onSubmit()"  [formGroup]="form" ngbAutofocus>
            <div class="row">
                <div class="col-md">
                    <h4>Sensores de crías</h4>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="form-group mb-1">
                    <label for="">Cría</label>
                    <select class="form-select" aria-label="Default select example" formControlName="idpup" >
                        
                        <option *ngFor="let option of pups" value="{{option.idpup}}" selected="{{option.sel}}">{{option.name}}</option>
                    </select>
                </div>
                <div class="form-group mb-1">
                    <label for="">Frecuencia Cardiaca</label>
                    <input type="number" class="form-control" placeholder="Frecuencia Cardiaca" formControlName="heart_rate">
                </div>
                
                <div class="form-group mb-1">
                    <label for="">Presion Sanguinea</label>
                    <input type="number" class="form-control" placeholder="Presion Sanguinea" formControlName="blood_pressure">
                </div>

                <div class="form-group mb-1">
                    <label for="">Frecuencia Respiratoria</label>
                    <input type="number" class="form-control" placeholder="Frecuencia Respiratoria" formControlName="b_frequency">
                </div>
                
                <div class="form-group mb-2">
                    <label for="">Temperatura</label>
                    <input type="number" class="form-control" placeholder="Temperatura" formControlName="temperature">
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md">
                <button type="submit" class="btn btn-success" style="float: right;">Guardar</button>
                <a routerLink="/sensors" class="btn btn-warning" role="button" aria-pressed="true">Regresar</a>
                </div>
                
            </div>
        </form>
    </div>
</div>